html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	padding: 0;
	border: none;
	background-color: transparent;
}

ul {
	list-style: none;
}

.title {
	font-family: 'Cormorant', serif;
	font-size: 40px;
	font-weight: 400;
	margin-bottom: 60px;
	text-align: center;
	height: 48px;
}

cite {
	font-style: normal;
}

.container {
	max-width: 1240px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

body {
	color: #151618;
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: normal;

}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 140px;
	padding: 30px 0;
}

.logo {
	margin-bottom: 35px;
}

.menu__btn {
	display: none;
	width: 40px;
	height: 20px;
	flex-direction: column;
	justify-content: space-between;
	gap: 0 6px;
	position: relative;
	z-index: 2;

}

.menu--close {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 50%);
	z-index: 1;
}

.menu--close.menu--open {
	display: block;
}

.mobile-nav,
.menu__close {
	display: none;
}

.menu__btn>span {
	background-color: #000000;
	height: 2px;
	width: 100%;
}

.menu__list {
	display: flex;
	align-items: center;
	gap: 0 70px;
	font-size: 18px;
	font-weight: 400;
	margin-left: 55px;
	position: relative;
	z-index: 3;
}

.user-actions {
	display: flex;
	align-items: center;
	gap: 0 20px;
}

.user-actions__link {
	display: flex;
	align-items: center;
}

.user-actions__item-search {
	margin-left: 80px;
}

.top {
	background-image: url(../images/top-background.jpg);
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size: cover;

}

.top__inner {
	font-family: 'Cormorant', serif;
	color: #FFFFFF;
	min-height: 500px;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.top__title {
	font-size: 60px;
	line-height: 100%;
	margin-bottom: 20px;
	max-width: 780px;
	font-weight: 400;
}

.top__text {
	font-size: 24px;
	margin-bottom: 48px;
	max-width: 560px;
	font-weight: 400;
}

.blockquote__text {
	font-family: 'Cormorant', serif;
	text-align: center;
	font-style: italic;
	font-size: 40px;
	max-width: 700px;
	margin: 150px auto;
}






.assortment_inner {
	margin-bottom: 150px;
}

.assortment_inner,
.assortment_list,
.assortment_item,
.assortment_header {
	display: flex;

}

.assortment_list {
	justify-content: space-between;
}

.assortment_item,
.assortment_inner {
	flex-direction: column;
}

.assortment_header,
.assortment__name {
	align-items: center;
}

.assortment_header {
	margin: 0 auto 60px;
}

.assortment__name {
	font-family: 'Cormorant', serif;
	font-size: 24px;
	text-align: center;
	padding-top: 10px;
}

.assortment__image {
	max-width: 208px;
	max-height: 208px;
	width: 100%;
}







.reviews {
	background-color: #F7F2EA;
}

.reviews_inner,
.reviews_header,
.review_list,
.review_item>blockquote {
	display: flex;
}

.reviews_inner {
	padding: 60px 0 60px;
	flex-direction: column;
}

.reviews_header {
	margin: 0 auto 60px;
	align-items: center;
}

.review_list {
	gap: 0 26px;
	justify-content: center;
}

.review_item {
	flex-basis: 280px;
}

.review_item>blockquote {
	flex-direction: column;
}

.review_text {
	font-size: 16px;
	margin-bottom: 10px;
	font-style: italic;
}

.review_name {
	font-weight: 600;
	font-size: 20px;
}




.main_blog__inner {
	margin: 150px 0;
}

.main_blog__items {
	display: flex;
	flex-wrap: wrap;
	gap: 40px 57px;
	margin-bottom: 60px;
	justify-content: space-between;
}

.main_blog__item,
.main_blog__item_text {
	display: flex;
}

.main_blog__item {
	flex-basis: 542px;
	gap: 0 20px;
}

.main_blog__item_text {
	flex-basis: 252px;
	flex-direction: column;
}

.main_blog__item_title {
	font-family: 'Cormorant', serif;
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 10px;
	min-height: 86px;
}

.main_blog__item_author,
.main_blog__item_link {
	font-size: 13px;
}

.main_blog__item_link {
	margin-top: auto;
	display: flex;
	align-items: center;
}

.main_blog__item_link_arrow {
	margin-left: 8px;
	margin-top: 1px;
}

.main_blog__link {
	display: flex;
	justify-content: center;
	padding: 12px 41px;
	border: 1px solid #151618;
	max-width: 152px;
	margin: 0 auto;
}



.mailing_list__inner {
	padding: 100px 0;
}

.mailing_list {
	background: url(/1-tea/images/mailing_list_bg.png);
	background-repeat: no-repeat;
	background-color: #F7F2EA;
	background-position: right;
}

.title.mailing_list__header {
	margin-bottom: 50px;
	text-align: left;
}

.mailing_list__text {
	line-height: 150%;
	flex-basis: 580px;
}

.mailing_list__content {
	display: flex;
}

.mailing_list__form {
	display: flex;
}

.mailing_list__content {
	gap: 0 40px;
	justify-content: start;
}

.mailing_list__form {
	flex-wrap: wrap;
	flex-basis: 580px;
}

.checkbox_text {
	font-size: 13px;
	padding-left: 20px;
}

.mailing_list__email_input {
	border: none;
	border-bottom: 1px solid #B8B58B;
	background-color: transparent;
	width: 439px;
	padding: 18px 15px 3px;
	margin-right: 25px;
	font-family: "Open Sans", sans-serif;
	color: #B8B58B;
	line-height: 150%;
	font-size: 20px;
	font-weight: 300;
	outline: none;
}

.mailing_list__email_input::placeholder {
	font-family: "Open Sans", sans-serif;
	color: #B8B58B;
	line-height: 150%;
	font-size: 20px;
	font-weight: 300;
}

.mailing_list__email_btn {
	font-family: "Open Sans", sans-serif;
	background-color: #fff;
	padding: 12px 41px;
	border: 1px solid #151618;
	max-width: 116px;
	font-size: 20px;
	font-weight: 300;
	cursor: pointer;
}

.mailing_list__label {
	margin-top: 16px;
	display: flex;


}

.mailing_list__checkbox {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0, 0, 0, 0, );
	overflow: hidden;
	padding-left: 20px;
}

.mailing_list__checkbox_style {
	position: absolute;
	width: 10px;
	height: 10px;
	margin-top: 4px;
	border: 1px solid #151618;
	background-color: #FFFFFF;
}

.mailing_list__checkbox:checked+.mailing_list__checkbox_style::before {
	content: "";
	position: absolute;
	width: 6px;
	height: 6px;
	background-color: #151618;
	top: 1px;
	left: 1px;
}





.priorities_inner {
	margin: 150px 0;
}

.priorities__list {
	display: flex;
	gap: 30px 50px;
	justify-content: center;
	flex-wrap: wrap;
}

.priorities__item_image {
	width: 60px;
	height: 60px;
	margin-top: 40px;
}

.priorities__item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.priorities__item_header {
	font-weight: 300;
	font-size: 30px;
	margin-bottom: 10px;
}

.priorities__item_text {
	font-size: 20px;
	font-weight: 600;
}









.footer {
	background-color: #F7F2EA;
}

.footer__inner {
	padding-top: 100px;
}

.footer__content {
	display: grid;
	margin-bottom: 100px;
	grid-template-columns: repeat(4, 1fr);
	gap: 0 40px;
}

h5 {
	font-family: 'Cormorant', serif;
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 50px;
}

.footer__blockquote {
	font-size: 16px;
	font-style: italic;
	margin-top: 80px;
}

.footer__blockquote_text {
	margin-bottom: 20px;
	width: 269px;
}

.footer__blockquote_author {
	font-size: 12px;
	font-style: normal;
}

.footer__blockquote_author span {
	display: block;
}

.footer__product__item,
.footer__company_info_item {
	font-size: 16px;
}

.footer__product__item+.footer__product__item {
	margin-top: 20px;
}

.footer__company_info_item+.footer__company_info_item {
	margin-top: 20px;
}

.footer__contacts_text {
	font-size: 13px;
	margin-bottom: 20px;
}

.footer__nav {
	display: flex;
	flex-wrap: wrap;
}

.footer__nav_logo {
	margin-right: 40px;
}

.footer__nav_contacts {
	margin-top: 20px;
}

.footer__nav_phone,
.footer__nav_email {
	font-size: 13px;
	padding-left: 32px;
	position: relative;
	display: block;
	margin-bottom: 20px;

}

.footer__nav_phone::before,
.footer__nav_email::before {
	content: '';
	position: absolute;
	left: 0;
	/* top: 2px; */
	width: 22px;
	height: 16px;
	background-image: url(/1-tea/images/email.svg);
}


.footer__nav_phone::before {
	background-image: url(/1-tea/images/phone.svg);
	width: 21px;
	height: 21px;
}

.footer__nav_socials {
	margin-top: 40px;
	margin-left: 115px;
}

.footer__nav_social_list {
	display: flex;
	gap: 0 20px;
}

.footer__nav_social_item {
	display: flex;
}

.footer__nav_social_item_link {
	display: flex;
	align-items: center;
}


.footer__bottom {
	display: flex;
	padding-bottom: 20px;
}

.footer__copyright {
	margin-right: 192px;
	font-size: 16px;
	font-weight: 300;
}

.payments {
	display: flex;
	gap: 0 20px;
}

.payments__item {
	display: flex;
	align-items: center;

}




@media (max-width:1180px) {

	.main_blog__item {
		flex-basis: 460px;
	}

	.main_blog__items {
		gap: 67px 20px;
	}

}

@media (max-width:1000px) {
	.user-actions__item-search {
		margin-left: 30px;
	}

	.menu {
		margin-right: auto;
	}

	.menu__list {
		margin-left: 45px;
	}

	.logo {
		margin-bottom: 0;
	}

	.header__inner {
		min-height: auto;
	}

	.blockquote__text {
		margin: 120px auto 135px;
	}

	.assortment_inner {
		margin-bottom: 120px;
	}

	.assortment_header {
		margin-bottom: 40px;
	}

	.reviews_inner {
		margin: 0 34px 0;
	}

	.review_item:last-child {
		display: none;
	}

	.main_blog__inner {
		margin: 120px 0;
	}

	.main_blog__item_image {
		max-width: 230px;
	}

	.main_blog__item {
		flex-basis: 460px;
	}

	.main_blog__items {
		gap: 67px 20px;
	}

	.mailing_list__inner {
		padding: 60px 0;
	}

	.mailing_list__content {
		flex-wrap: wrap;
		justify-content: center;

	}

	.mailing_list__text {
		text-align: center;
		flex-basis: 780px;
		margin-bottom: 60px;
	}

	.title.mailing_list__header {
		margin-bottom: 60px;
		text-align: center;
	}


	.priorities__list {
		gap: 30px 210px;
		justify-content: center;
	}

	.footer__blockquote {
		margin-top: 0;
		width: 270px;
	}

	.footer__copyright {
		margin-right: 70px;
	}

	.footer__content {
		margin-bottom: 55px;
	}

}

@media (max-width:860px) {

	.menu__list {
		transform: translateY(-100%);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 480px;
		margin: 0 auto;
		background-color: #fff;
		display: block;
		text-align: center;
		padding-top: 60px;
		transition: transform .5s ease;
	}

	.menu__list.menu__list_open {
		transform: translateY(0%);
	}

	.menu__item {
		font-family: 'Cormorant', serif;
		font-size: 24px;
		margin-bottom: 30px;
	}

	.mobile-nav,
	.menu__close {
		display: block;
	}

	.menu__close-btn {
		position: absolute;
		top: 20px;
		right: 20px;
	}

	.mobile-menu {
		padding-top: 60px;
		margin: 60px 30px;
		border-top: 2px solid #F7F2EA;
	}

	.mobile-menu_item {
		margin-bottom: 35px;
		font-size: 13px;
		font-weight: 300;
	}

	.mobile-actions {
		background-color: #F7F2EA;
		height: 60px;
		padding: 0 80px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.menu__btn {
		display: flex;
	}

	.menu {
		order: -1;
		margin-right: 0;
	}

	.logo {
		margin-left: 95px;
	}

	.assortment_list {
		flex-wrap: wrap;
		justify-content: center;
	}


}

@media (max-width:768px) {

	.header__inner {
		margin-left: 44px;
		margin-right: 44px;
	}

	.blockquote__text {
		max-width: 640px;
		margin: 120px auto;
	}

	.review_item:last-child {
		display: block;
	}

	.review_list {
		flex-wrap: wrap;
		gap: 30px 76px;
	}

	.main_blog__item {
		flex-basis: 542px;
	}

	.main_blog__item_image {
		max-width: 270px;
	}

	.main_blog__item_text {
		flex-basis: 252px;
	}

	.main_blog__inner {
		margin: 60px 0;
	}

	.main_blog__items {
		gap: 30px 20px;
	}

	.main_blog__item:nth-child(even) {
		margin-left: 98px;
	}

	.main_blog__item:nth-child(odd) {
		margin-left: 44px;
	}

	.mailing_list__text {
		flex-basis: 640px;
	}

	.priorities__list {
		gap: 30px 130px;
	}

	.priorities_inner {
		margin: 120px 0;
	}

	.footer__content {
		grid-template-rows: 1fr 1fr;
		grid-template-columns: repeat(3, 1fr);
	}

	.footer__products,
	.footer__company_info {
		grid-row: span 3;
	}

	.footer_contacts {
		grid-column: 3 / 4;
		grid-row: 2/3;
	}

	.footer__copyright {
		margin-right: 115px;
	}
}

@media (max-width:743px) {
	.review_item {
		flex-basis: 220px;
	}

	.reviews_inner {
		margin: 0;
	}


}

@media (max-width:680px) {

	.container {
		padding-left: 10px;
		padding-right: 10px;
	}

	.header__inner {
		margin-left: 0;
		margin-right: 0;
	}

	.top__title {
		font-size: 40px;
	}

	.blockquote__text {
		max-width: 376px;
		font-size: 24px;
		margin: 60px auto;
	}

	.main_blog__item:nth-child(even) {
		margin-left: 0;
	}

	.main_blog__item:nth-child(odd) {
		margin-left: 0;
	}


}

@media (max-width:580px) {

	.review_list {
		gap: 30px 20px;
	}
}

@media (max-width:480px) {

	.blockquote__text {
		font-size: 18px;
	}

	.logo_image {
		width: 40px;
	}

	.header__inner {
		padding: 10px 0;
	}

	.menu__list {
		width: 360px;
	}

	.assortment_header {
		margin-bottom: 30px;
	}

	.assortment_inner {
		margin-bottom: 60px;
	}

	.review_list {
		gap: 30px 20px;
	}

	.reviews_header {
		margin-bottom: 50px;
	}

	.reviews_inner {
		padding: 50px 0;
	}

	.main_blog__item_image {
		max-width: 230px;
	}

	.mailing_list__text {
		font-size: 13px;
		margin-bottom: 30px;
		flex-basis: 460px;
	}

	.title.mailing_list__header {
		margin-bottom: 30px;
	}

	.mailing_list__inner {
		padding: 50px 0;
	}

	.mailing_list__email_input {
		width: 324px;
		margin-right: 20px;
	}

	.priorities_inner {
		margin: 60px 0;
	}

	.footer__content {
		display: flex;
		flex-wrap: wrap;
	}

	.footer__blockquote,
	.footer__company_info {
		margin-bottom: 50px;
	}

	.footer__blockquote_text {
		width: 460px;
		margin-bottom: 10px;
	}

	.footer__contacts_title {
		margin-bottom: 10px;
	}

	.footer__products {
		margin-right: 133px;
	}

	.footer__products__title_header,
	.footer__company_info__title_header {
		margin-bottom: 30px;
	}


	.footer__inner {
		padding-top: 50px;
	}

	.footer__contacts_text,
	.footer__contacts_title {
		text-align: center;
	}

	.footer__nav {
		flex-wrap: nowrap;
	}

	.footer__nav_socials {
		margin-left: 30px;
	}

	.footer__copyright {
		margin-right: 153px;
	}



}

@media (max-width:435px) {

	.assortment_header {
		margin-bottom: 10px;
		font-size: 24px;
		height: 29px;

	}

	.assortment__image {
		max-width: 170px;
	}

}

@media (max-width:360px) {

	.user-actions__item-search {
		margin-left: 0;
	}

	.logo {
		margin-left: 60px;
	}

	.top__title {
		font-size: 24px;
		margin-bottom: 10px;
	}

	.top__text {
		font-size: 13px;
		margin-bottom: 30px;
	}

	.top__inner {
		min-height: 367px;
	}

	.blockquote__text {
		max-width: 340px;
		font-size: 20px;
		margin: 70px auto 80px;
	}

	.assortment_inner {
		margin-bottom: 80px;
	}

	.review_item:nth-last-child(-n+2) {
		display: none;
	}

	.reviews_header {
		margin-bottom: 30px;
	}

	.review_item {
		flex-basis: 100%;
	}

	.reviews_header {
		font-size: 24px;
	}

	.main_blog__inner {
		margin: 50px 0;
	}

	.main_blog__header {
		font-size: 24px;
	}

	.main_blog__item_image {
		max-width: 270px;

	}

	.main_blog__item {
		display: block;
		max-width: 270px;
	}

	.main_blog__item_link {
		margin-top: 10px;
	}

	.main_blog__item:nth-last-child(-n+2) {
		display: none;
	}

	.main_blog__header {
		margin-bottom: 30px;
	}

	.main_blog__items {
		justify-content: center;
	}

	.main_blog__items {
		margin-bottom: 30px;
	}

	.main_blog__item_title {
		min-height: auto;
	}

	.mailing_list__email_input {
		width: 205px;
	}

	.mailing_list__email_input {
		margin-right: 19px;
	}

	.title.mailing_list__header {
		font-size: 24px;
		margin-bottom: 30px;
		height: 29px;
	}

	.title_header {
		font-size: 24px;
		margin-bottom: 30px;
	}

	.priorities_inner {
		margin-top: 50px;
	}

	.priorities__item_header {
		font-size: 20px;
		font-weight: 300;
		line-height: 150%;
		margin-bottom: 18px;
	}

	.priorities__item_text {
		font-size: 10px;
		text-transform: uppercase;
		font-weight: 400;
	}

	.priorities__list {
		gap: 40px 130px;
	}

	.priorities__item_image {
		margin-top: 16px;
	}

	.footer__products {
		margin-right: 73px;
	}

	.footer__company_info {
		margin-right: 0;
	}

	.footer__blockquote_text {
		width: 340px;
	}

	.footer__nav {
		flex-wrap: wrap;
	}

	.footer__copyright {
		margin-right: 53px;
	}

	.footer__nav_socials {
		margin: 40px auto 0px;
	}

	.footer__content {
		margin-bottom: 50px;
	}

	.footer__contacts_text {
		margin-bottom: 10px;
	}

	.footer__nav_logo {
		margin-right: 30px;
		margin-left: 42px;
	}

}